@font-face {
  font-family: "Orbitron";
  src: url(../../fonts/Orbitron-Regular.ttf);
}

.c-title {
  color: var(--primary-text);
  text-shadow: 0px 0px 10px var(--seccondary-color);
  font-size: 4em;
}

.c-autor {
  color: var(--primary-text);
  text-shadow: 0px 0px 10px var(--seccondary-color);
  font-size: 2em;
  z-index: 1;
}
